@model IEnumerable<E_Commerce.Models.Cart>

@{
    ViewData["Title"] = "Checkout";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }


    </tbody>
</table>
<h3> Total amount:- @ViewBag.amount</h3>
<h4> Shiping Adress:- @ViewBag.address</h4>
<form asp-controller="Home" asp-action="PlaceOrder" method="post" class="mt-3">
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Pay on Delivery</button>
        </div>
    </div>
</form>
